:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hiro-text-buck-color: #2f303a;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-contact-color: rgb(160, 150, 150);
  --footer-buck-color: #2f303a;
  --box-buck-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.03em;
}

/* Site nav */
.header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--title-text-color);
  margin-left: 215px;
}
.logo .accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  line-height: 110%;
  letter-spacing: 0.02em;
  list-style: none;
  margin-left: 93px;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  list-style: none;
  margin-left: 331px;
}

.contact .item + .item {
  margin-left: 50px;
}

.contact .link {
  font-weight: 500;
  text-decoration: none;
  line-height: 110%;
  letter-spacing: 0.02em;
}
.contact .link {
  color: var(--footer-contact-color);
}

.hero-text {
  background-color: var(--hiro-text-buck-color);
  letter-spacing: 0.06em;
}

.hero-text .text {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 136%;
}

.hero-text .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 190%;
}

.control {
  line-height: 160%;
  list-style: none;
}

.control .button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.control .button {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.control .button:hover,
.control .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.project {
  list-style: none;
}
.project .title {
  font-size: 18px;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.project .desk {
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 190%;
}

.features {
  list-style: none;
}

.features .title {
  line-height: 110%;
}

.features .text {
  line-height: 200%;
  color: var(--primary-text-color);
}

.subject {
  font-size: 42px;
  color: var(--title-text-color);
  font-weight: 700;
}

.list {
  list-style: none;
}

.box {
  background-color: var(--box-buck-color);
  list-style: none;
}
.box-caption {
  font-size: 42px;
  font-weight: 700;
}

.items {
  list-style: none;
}
.items .subject {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.items .desc {
  text-align: center;
  font-size: 16px;
  color: var(--primary-text-color);
}

.footer {
  height: 6.34%;
  background: var(--footer-buck-color);
}

.footer-logo {
  text-decoration: none;
  color: var(--primary-white-color);
  font-size: 26px;
}
.footer-logo .accent {
  color: var(--accent-color);
}

.footer-contact {
  text-decoration: none;
  line-height: 171%;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-style: normal;
  list-style: none;
}

.footer-contact .link:hover,
.footer-contact .link:focus {
  color: var(--accent-color);
}

.footer-contact .link {
  text-decoration: none;
  list-style: none;
  color: var(--footer-contact-color);
}

.footer-contact .link-accent {
  text-decoration: none;
  list-style: none;
  color: var(--primary-white-color);
}
